.container {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Karla', sans-serif;
  margin: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.125em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

svg:hover,
button:hover,
.categories > *:hover {
  cursor: pointer;
}

label {
  display: block;
}

/* ----- HOME ----- */

.home-page {
  display: flex;
  flex-direction: column;
}

.home-page-row-1 {
  display: flex;
  flex-direction: column;
}

.home-page-row-1 img {
  width: 100%;
}

.home-page-row-2 {
  display: flex;
  flex-direction: row;
}

div home-page-row-2-box-1 {
  margin-left: 0;
  margin-right: 0.5em;
}

.home-page-row-2-box-2,
.home-page-row-2-box-3 {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

div home-page-row-2-box-4 {
  margin-left: 0.5em;
  margin-right: 0;
}

.home-page-row-2 > * {
  flex: 1 0 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 0.1em solid;
  border-color: #f3f3f3;
  background-color: #f3f3f3;
}

.home-page-row-2 img {
  width: 90%;
  height: auto;
  padding: 1em 1em 0 1em;
}

.home-page > div {
  cursor: pointer;
}

/* ----- TOP BAR ----- */

.top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 1em;
}

.top-bar-left {
  display: flex;
  flex-direction: row;
  flex: 50%;
}

div.top-bar-right {
  display: flex;
  flex-direction: row;
  flex: 50%;
  justify-content: flex-end;
}

div.top-bar a {
  margin: 0.25em 1em 0 0;
  color: black;
  align-self: center;
  cursor: pointer;
}

div.top-bar-right svg.MuiSvgIcon-root {
  margin: 0 0.25em 0.25em 0;
}

span.MuiBadge-root {
  cursor: pointer;
}

/* span.MuiBadge-root > span {
  transform: scale(1) translate(40%, -35%);
} */

/* ----- NAV BAR ----- */

/* wide screen */
@media (min-width: 1000px) {
  .nav-left-icon,
  .nav-row-2 {
    display: none !important;
  }
}

/* narrow screen */
@media (max-width: 999.99px) {
  .nav-right {
    display: none !important;
  }
}

.nav-row-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-row-2 {
  position: fixed;
  z-index: 1;
  width: 30%;
  left: 0em;
  padding-left: 1rem;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.nav-row-2 {
  padding-top: 0rem;
  padding-bottom: 0em;
}

.nav-row-2 li:hover {
  background-color: #f5f5f5;
}

.nav-row-2 li:active {
  background-color: #d8d8d8;
}

.nav-left {
  display: flex;
  flex-direction: row;
  flex: 20%;
  justify-content: flex-start;
  align-items: center;
}

.nav-left a {
  margin-left: 1rem;
  color: black;
}

.nav-right {
  flex: 80%;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav a,
.nav-row-2 a {
  color: #686767;
  display: inline-block;
  margin: 1em;
}

div.nav hr {
  margin: 0 0.75em;
}

/* ----- CART ----- */

#cart-content {
  display: flex;
  flex-direction: row;
}

.cart-item {
  border-radius: 10px;
  border: 0.05em solid;
  border-color: rgb(185, 185, 185);
  margin: 1em;
  display: flex;
  flex-direction: row;
}

.checkout-item {
  display: flex;
  flex-direction: row;
}

.checkout-item-image {
  margin: 3px;
}

.cart-item img {
  border-radius: 10px;
}

.cart-item-image {
  margin: 1em;
}

.cart-item-info {
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cart-item-info > * {
  margin: 0.5em 1em;
}

.cart-item-name {
  cursor: pointer;
}

.cart-item .button-group {
  display: flex;
  flex-direction: row;
}

.button-group .delete {
  margin-left: 0.5em;
  background-color: rgba(255, 154, 154, 0.842);
}

#cart-checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 197, 197);
  margin: 1em;
  padding: 10px;
  border-radius: 10px;
  min-width: 300px;
}

#checkout-cart {
  margin: 10px;
  margin-top: 20px;
}

#cart-checkout > h3 {
  margin: 1em 0 0 0;
}

#checkout-button {
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  max-width: 100px;
}

#cart-checkout > a,
#cart-checkout > button {
  margin-top: 1em;
}

.cart-vertical-divider {
  display: flex;
  flex-direction: row;
}

.cart-vertical-divider hr {
  margin: 1em 3em 0 2.5em;
}

/* ----- CART PREVIEW ----- */

.cart-preview-box {
  margin-top: 2.2em;
  padding: 0.5em;
  border: 0.05em solid;
  border-color: rgb(185, 185, 185);
  border-radius: 0.6em;
  width: 90%;
  background-color: white;
}

.cart-preview-box .cart-item {
  border: none;
  margin: 0 0 0 0.5em;
}

.cart-preview-box .cart-item-image {
  width: 30%;
}

.cart-preview-box img {
  max-width: 90%;
  height: auto;
}

.cart-preview-box button {
  height: 2em;
  font-size: 0.8em;
  padding: 0.1em;
}

.cart-preview-box p.cart-item-name {
  margin: 1em 0 0.5em 0;
}

.cart-preview-box .cart-item-info > div,
.cart-preview-box .cart-item-info > p.cart-item-price {
  margin: 0.5em 0 0.5em 0;
}

.cart-item .delete {
  margin-left: 1em;
  background-color: rgba(255, 154, 154, 0.842);
}

.cart-preview button#cart {
  background-color: #33a49f;
  color: white;
  margin: 1.2em 1em 1.2em 1.5em;
  height: 2.5em;
  width: 8em;
}

.cart-preview button#cart:hover {
  background-color: #2c9690;
  cursor: pointer;
}

.cart-preview button#cart:active {
  background-color: #3c837f;
}

.cart-preview-box .cart-preview-close {
  color: #c5c5c5;
}

.cart-preview-box .cart-preview-close:hover {
  cursor: pointer;
  background-color: #d4d4d4;
  cursor: pointer;
}

.cart-preview-box .cart-preview-close:active {
  background-color: #acacac;
}

.cart-preview p {
  margin: 0 2em 1em 2em;
}

/* ----- CHECKOUT ----- */

#checkout {
  display: flex;
  flex-direction: row;
}
/* ----- CATEGORIES ----- */

.categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.categories > * {
  flex: 1 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  border: 0.1em solid;
  border-color: #f3f3f3;
  background-color: #f3f3f3;
}

.categories img {
  width: 70%;
  height: auto;
  padding: 1em 1em 0 1em;
}

.categories h4 {
  padding-bottom: 1em;
}

/* ----- SINGLE CATEGORY ----- */
.single-category {
  display: flex;
  flex-direction: column;
}

.single-category-row-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0 0.5em 0;
}

.single-category-row-1 img {
  width: 100%;
}

.single-category-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

img.product-img {
  width: 90%;
  max-height: auto;
}

.product-list-row-2 {
  text-align: left;
  margin: 0 1.2em;
}

.product-list-row-2 h3 {
  margin: 1em 0 0.5em 0;
}

.product-list-row-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1.2em;
}

.product-list-row-3-btns {
  display: flex;
  flex-direction: row;
}

.product-list-row-3 button {
  align-self: center;
  height: 2.5em;
  font-size: 0.7em;
}

.product-list-row-3 button.edit {
  margin-right: 0.25em;
  width: 3em;
}

.product-list-row-3 button.delete {
  margin-left: 0.25em;
  width: 3.3em;
  background-color: rgba(255, 154, 154, 0.842);
}

/* ----- SINGLE PRODUCT ----- */

.single-product {
  display: flex;
  flex-direction: column;
}

.single-product-row-1 {
  flex-direction: row;
}

.single-product-row-2 {
  display: flex;
  flex-direction: row;
}

.single-product-row-2-left {
  align-items: center;
  flex: 55%;
}

.single-product-row-2-left > img {
  max-width: 90%;
}

.single-product-row-2-right {
  flex-direction: column;
  flex: 45%;
}

.single-product-row-2-right > * {
  margin: 1em 0;
}

.single-product-row-2-right-row-1 {
  margin: 0;
}

.single-product-row-2-right-row-2 {
  display: flex;
  flex-direction: row;
}

.single-product-row-2-right-row-2 > svg {
  margin-left: 0.5em;
  color: #bdbdbd;
}

.single-product-row-2-right-row-2 > svg:hover {
  cursor: pointer;
}

.single-product-row-2-right-row-2 > div {
  display: flex;
  flex-direction: row;
}

.single-product-row-2-right-row-2 p {
  margin: 0.25em 0 0.75em 0.5em;
}

svg.MuiSvgIcon-root.favorite-filled,
svg.MuiSvgIcon-root.favorite-unfilled {
  color: rgba(250, 45, 80, 0.63);
}

.single-product-row-2-right-row-4 {
  margin-top: 1.5em;
  font-size: 1.2em;
}

.single-product-row-2-right-row-2 > .makeStyles-root-36 {
  display: flex;
  flex-direction: row;
}

.makeStyles-root-36 > span {
  align-self: center;
}

.makeStyles-root-36 > p {
  align-items: center;
  margin-left: 0.5em;
}

.makeStyles-root-62 > button {
  margin-left: 1em;
}

.single-product-row-3 {
  flex-direction: column;
}

.single-product-row-add-review {
  flex-direction: column;
}

/* ----- REVIEW LIST ----- */

.review-list {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.review-list-row-1 {
  display: flex;
  flex-direction: row;
}

.review-list-row-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.review-list-row-2-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.review-list-row-2-left > .makeStyles-root-121 {
  margin: 1em 0.5em 1em 0;
}

.review-list-row-2-left p {
  margin-left: 0.5em;
}

.review-list-row-2-right {
  align-items: center;
  margin: 1.2em 2em 0 0;
}

.review-list-row-2-right a {
  color: #277c78;
}

.review-list-row-3 {
  flex-direction: column;
}

/* ----- ADD TO CART BTN ----- */

.single-product-row-2-right-row-3 button. {
  border: solid 1px;
  border-color: #e2e2e2;
}

button.num-button {
  background-color: #f2f2f2;
}

button.num-button:hover {
  background-color: #d4d4d4;
  cursor: pointer;
}

button.num-button:active {
  background-color: #acacac;
}

/* span.MuiRating-decimal {
  color: #dea852;
} */

button.add-button {
  margin-left: 0.5em;
  background-color: #33a49f;
  color: white;
}

button.add-button:hover {
  background-color: #2c9690;
  cursor: pointer;
}

button.add-button:active {
  background-color: #3c837f;
}

/* ----- PRODUCT REVIEW ----- */

.product-review {
  display: flex;
  flex-direction: row;
  margin: 1em 0;
}

.product-review-left {
  flex-direction: column;
  flex: 20%;
}

.product-review-right {
  flex-direction: column;
  flex: 80%;
}

.product-review-left-row-1 {
  align-content: flex-start;
  margin: 0.5em 1em 0.5em 0;
}

.product-review-left-row-2 {
  align-content: flex-start;
  margin: 1em 1em 1em 0;
}

.product-review-right-row-1 {
  align-content: flex-start;
}

.product-review-right-row-2 {
  align-content: flex-start;
  margin-top: 0.5em;
}

/* ----- NOT FOUND ----- */

.not-found {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
}

/* ----- ALL PRODUCTS ----- */

.products-breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
}
.product-list-product {
  display: flex;
  flex-direction: column;
  flex: 1 0 23%;
  margin: 1em 0;
}

img.products-banner {
  width: 100%;
}

img.product-img {
  width: 80%;
  max-height: auto;
}

.product-list-row-2 {
  text-align: left;
  margin: 0 1.2em;
}

.product-list-row-2 h3 {
  margin: 1em 0 0.5em 1em;
}

.product-list-row-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-list-row-3 p {
  margin: 0.5em 0 1em 1.2em;
}

a h3 {
  color: black;
}

.product-list-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2em 1em 1em 1em;
}

/* ----- PRODUCT FORM ----- */

form.product-form {
  display: flex;
  margin: 1em;
  flex-direction: column;
}

form.product-form label {
  margin: 0 0 1em 0;
}

form.product-form > div {
  align-self: center;
  width: 65%;
  margin: 0.5em 1em;
}

.product-form-row-1,
.product-form-row-8 {
  text-align: center;
}

/* ----- ADD REVIEW ----- */

.add-review {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.add-review-row-1,
.add-review-row-2 {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.add-review-row-2 > label {
  margin-bottom: 0.25em;
  font-size: 1.6em;
}

.add-review-row-2 > fieldset {
  margin-top: 1em;
}

.add-review-row-3 {
  display: flex;
  flex-direction: row;
  margin: 1em;
}

.add-review-row-3 > button {
  margin-right: 0.5em;
}

.add-review-row-3 > a {
  margin: 0.5em 0 0 0.5em;
  text-decoration: underline;
  color: #033b4c;
}

.add-review button {
  background-color: #33a49f;
  color: white;
}

.add-review button:hover {
  background-color: #2c9690;
  cursor: pointer;
}

.add-review button:active {
  background-color: #3c837f;
}

/* ----- BREADCRUMBS ----- */

ol.MuiBreadcrumbs-ol p,
ol.MuiBreadcrumbs-ol a {
  font-size: small;
}

/* ----- FILTER BAR ----- */

/* button.filter-bar-btn {
	margin-left: 0.5em;
	border: 0.1em solid;
	border-color: #33a49f;
}

button.filter-bar-btn:hover {
	background-color: #2c9690;
	cursor: pointer;
}

button.filter-bar-btn:active {
	background-color: #3c837f;
	color: white;
} */

/* ----- SEARCH ----- */

.search-bar-header {
  margin: 1em 0 1em 0;
}

.search-body-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-body-content {
  margin: 1em 0 1em 0;
}

.search-hit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li.ais-Hits-item {
  border: none;
}

.search-hit-image {
  height: 10em;
}

.search-hit-image img {
  height: 100%;
}

.search-hit-name a {
  color: black;
}

.search-hit-contents {
  margin: 0 0 1em 0;
}

.search-hit-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-hit-name {
  margin: 1em 0 0.5em 0;
}

.ais-Pagination {
  margin: 2em 0 2em 0;
}

.ais-Pagination a {
  color: #8d8d8d;
}

.ais-Pagination a.ais-Pagination-link.ais-Pagination-link--selected {
  background-color: #8d8d8d;
  border-color: #8d8d8d;
  color: white;
}

.search-results {
  text-align: right;
}

/* ----- SLIDER ----- */

.slider-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 12em;
}

.slider-item-row-1 {
  text-align: center;
  margin: 1em 0 0 0;
}

.slider-item-row-2 {
  text-align: center;
  margin: 0 0 2.5em 0;
}

.slider-item-row-2 a {
  color: black;
}

.slider-item-row-2 a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.slider-item-row-2 h5 {
  line-height: 0.5;
}

.home-page-row-slider h3 {
  text-align: center;
  margin: 0.5em 0 1em 0;
  color: #7a7a7a;
}

.home-page-row-slider img {
  width: 65%;
  height: auto;
}

.sc-bwzfXH.gwZiig {
  overflow-y: hidden;
}

#home-divider-1 {
  margin: 1em 0;
}
