/* ----- CART ----- */

#cart-content {
  display: flex;
  flex-direction: row;
}

.cart-item {
  border-radius: 10px;
  border: 0.05em solid;
  border-color: rgb(185, 185, 185);
  margin: 1em;
  display: flex;
  flex-direction: row;
}

.cart-item img {
  border-radius: 10px;
}

.cart-item-image {
  margin: 1em;
}

.cart-item-info {
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cart-item-info > * {
  margin: 0.5em 1em;
}

.cart-item-name {
  cursor: pointer;
}

.cart-item .button-group {
  display: flex;
  flex-direction: row;
}

.button-group .delete {
  margin-left: 0.5em;
  background-color: rgba(255, 154, 154, 0.842);
}

#cart-checkout {
  display: flex;
  flex-direction: column;
}

#cart-checkout > * {
}

#cart-checkout > h3 {
  margin: 1em 0 0 0;
}

#cart-checkout > a,
#cart-checkout > button {
  margin-top: 1em;
}

.cart-vertical-divider {
  display: flex;
  flex-direction: row;
}

.cart-vertical-divider hr {
  margin: 1em 3em 0 2.5em;
}

/* ----- CART PREVIEW ----- */

div.cart-preview-box {
  margin-top: 2.2em;
  padding: 1em;
  border: 0.05em solid;
  border-color: rgb(185, 185, 185);
  border-radius: 0.6em;

  background-color: white;
}

div.cart-preview-box .cart-item {
  border: none;
  margin-top: 1em;
}

div.cart-preview button#cart {
  background-color: #33a49f;
  color: white;
  margin-top: 1em;
}

div.cart-preview button#cart:hover {
  background-color: #2c9690;
  cursor: pointer;
}

div.cart-preview button#cart:active {
  background-color: #3c837f;
}

/* ----- CHECKOUT ----- */

#checkout {
  display: flex;
  flex-direction: row;
}
