body {
  font-family: 'Karla', sans-serif;
  margin: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.125em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

label {
  display: block;
}

/* ----- HOME ----- */

div.home-page {
  display: flex;
  flex-direction: column;
}

div.home-page-row-1 {
  display: flex;
  flex-direction: column;
}

div.home-page-row-1 img {
  width: 100%;
}

div.home-page-row-2 {
  display: flex;
  flex-direction: row;
}

div home-page-row-2-box-1 {
  margin-left: 0;
  margin-right: 0.5em;
}

div.home-page-row-2-box-2,
div.home-page-row-2-box-3 {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

div home-page-row-2-box-4 {
  margin-left: 0.5em;
  margin-right: 0;
}

div.home-page-row-2 > * {
  flex: 1 0 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 0.1em solid;
  border-color: #f3f3f3;
  background-color: #f3f3f3;
}

div.home-page-row-2 img {
  width: 90%;
  height: auto;
  padding: 1em 1em 0 1em;
}

div.home-page > div {
  cursor: pointer;
}

/* ----- TOP BAR ----- */

div.top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0;
}

div.top-bar-left {
  flex: 50%;
}

div.top-bar-right {
  display: flex;
  flex-direction: row;
  flex: 50%;
  justify-content: flex-end;
}

div.top-bar a {
  margin: 0.25em 1em 0 0;
  color: black;
  align-self: center;
  cursor: pointer;
}

div.top-bar-right svg.MuiSvgIcon-root {
  margin: 0 0.25em 0.25em 0;
}

span.MuiBadge-root {
  cursor: pointer;
}

/* span.MuiBadge-root > span {
  transform: scale(1) translate(40%, -35%);
} */

/* ----- NAV BAR ----- */

div.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.nav-left {
  flex: 20%;
}

div.nav-left a {
  color: black;
}

div.nav-right {
  flex: 80%;
}

div.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav a {
  color: black;
  display: inline-block;
  margin: 1em;
}

div.nav hr {
  margin: 0 0.75em;
}

/* ----- CART ----- */

#cart-content {
  display: flex;
  flex-direction: row;
}

.cart-item {
  border-radius: 10px;
  border: 0.05em solid;
  border-color: rgb(185, 185, 185);
  margin: 1em;
  display: flex;
  flex-direction: row;
}

.cart-item img {
  border-radius: 10px;
}

.cart-item-image {
  margin: 1em;
}

.cart-item-info {
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* ----- CHECKOUT ----- */

#checkout {
  display: flex;
  flex-direction: row;
}
/* ----- CATEGORIES ----- */

div.categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

div.categories > * {
  flex: 1 0 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  border: 0.1em solid;
  border-color: #f3f3f3;
  background-color: #f3f3f3;
}

div.categories > *:hover {
  cursor: pointer;
}

div.categories img {
  width: 70%;
  height: auto;
  padding: 1em 1em 0 1em;
}

div.categories h4 {
  padding-bottom: 1em;
}

/* ----- SINGLE CATEGORY ----- */
div.single-category {
  display: flex;
  flex-direction: column;
}

div.single-category-row-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0 0.5em 0;
}

div.single-category-row-1 img {
  width: 100%;
}

div.single-category-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

div.product-list-product {
  display: flex;
  flex-direction: column;
  flex: 30%;
  margin: 1em 0;
}

img.product-img {
  width: 90%;
  max-height: auto;
}

div.product-list-row-2 {
  text-align: left;
  margin: 0 1.2em;
}

div.product-list-row-2 h3 {
  margin: 1em 0 0.5em 0;
}

div.product-list-row-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1.2em;
}

div.product-list-row-3-btns {
  display: flex;
  flex-direction: row;
}

div.product-list-row-3 button {
  align-self: center;
  height: 2.5em;
  font-size: 0.7em;
}

div.product-list-row-3 button.edit {
  margin-right: 0.25em;
  width: 3em;
}

div.product-list-row-3 button.delete {
  margin-left: 0.25em;
  width: 3.3em;
  background-color: rgba(255, 154, 154, 0.842);
}

/* ----- SINGLE PRODUCT ----- */

div.single-product {
  display: flex;
  flex-direction: column;
}

div.single-product-row-1 {
  flex-direction: row;
}

div.single-product-row-2 {
  display: flex;
  flex-direction: row;
}

div.single-product-row-2-left {
  align-items: center;
  flex: 55%;
}

div.single-product-row-2-left > img {
  max-width: 90%;
}

div.single-product-row-2-right {
  flex-direction: column;
  flex: 45%;
}

div.single-product-row-2-right > * {
  margin: 1em 0;
}

div.single-product-row-2-right-row-1 {
  margin: 0;
}

div.single-product-row-2-right-row-2 > div {
  display: flex;
  flex-direction: row;
}

div.single-product-row-2-right-row-2 p {
  margin: 0.25em 0 0.75em 0.5em;
}

div.single-product-row-2-right-row-4 {
  margin-top: 1.5em;
  font-size: 1.2em;
}

div.single-product-row-2-right-row-2 > div.makeStyles-root-36 {
  display: flex;
  flex-direction: row;
}

div.makeStyles-root-36 > span {
  align-self: center;
}

div.makeStyles-root-36 > p {
  align-items: center;
  margin-left: 0.5em;
}

div.makeStyles-root-62 > button {
  margin-left: 1em;
}

div.single-product-row-3 {
  flex-direction: column;
}

div.single-product-row-add-review {
  flex-direction: column;
}

/* ----- REVIEW LIST ----- */

div.review-list {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

div.review-list-row-1 {
  display: flex;
  flex-direction: row;
}

div.review-list-row-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.review-list-row-2-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.review-list-row-2-left > div.makeStyles-root-121 {
  margin: 1em 0.5em 1em 0;
}

div.review-list-row-2-left p {
  margin-left: 0.5em;
}

div.review-list-row-2-right {
  align-items: center;
  margin: 1.2em 2em 0 0;
}

div.review-list-row-2-right a {
  color: #277c78;
}

div.review-list-row-3 {
  flex-direction: column;
}

/* ----- ADD TO CART BTN ----- */

div.single-product-row-2-right-row-3 button {
  border: solid 1px;
  border-color: #e2e2e2;
}

button.num-button {
  background-color: #f2f2f2;
}

button.num-button:hover {
  background-color: #d4d4d4;
  cursor: pointer;
}

button.num-button:active {
  background-color: #acacac;
}

/* span.MuiRating-decimal {
  color: #dea852;
} */

button.add-button {
  margin-left: 0.5em;
  background-color: #33a49f;
  color: white;
}

button.add-button:hover {
  background-color: #2c9690;
  cursor: pointer;
}

button.add-button:active {
  background-color: #3c837f;
}

/* ----- PRODUCT REVIEW ----- */

div.product-review {
  display: flex;
  flex-direction: row;
  margin: 1em 0;
}

div.product-review-left {
  flex-direction: column;
  flex: 20%;
}

div.product-review-right {
  flex-direction: column;
  flex: 80%;
}

div.product-review-left-row-1 {
  align-content: flex-start;
  margin: 0.5em 1em 0.5em 0;
}

div.product-review-left-row-2 {
  align-content: flex-start;
  margin: 1em 1em 1em 0;
}

div.product-review-right-row-1 {
  align-content: flex-start;
}

div.product-review-right-row-2 {
  align-content: flex-start;
  margin-top: 0.5em;
}

/* ----- NOT FOUND ----- */

div.not-found {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
}

/* ----- ALL PRODUCTS ----- */

div.products-breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}
div.product-list-product {
  display: flex;
  flex-direction: column;
  flex: 30%;
  margin: 1em 0;
}

img.products-banner {
  width: 100%;
}

img.product-img {
  width: 90%;
  max-height: auto;
}

div.product-list-row-2 {
  text-align: left;
  margin: 0 1.2em;
}

div.product-list-row-2 h3 {
  margin: 1em 0 0.5em 0;
}

div.product-list-row-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1.2em;
}

a h3 {
  color: black;
}

/* ----- PRODUCT FORM ----- */

form.product-form {
  display: flex;
  margin: 1em;
  flex-direction: column;
}

form.product-form label {
  margin: 0 0 1em 0;
}

form.product-form > div {
  align-self: center;
  width: 65%;
  margin: 0.5em 1em;
}

div.product-form-row-1,
div.product-form-row-8 {
  text-align: center;
}

/* ----- ADD REVIEW ----- */

div.add-review {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

div.add-review-row-1,
div.add-review-row-2 {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

div.add-review-row-2 > label {
  margin-bottom: 0.25em;
  font-size: 1.6em;
}

div.add-review-row-2 > fieldset {
  margin-top: 1em;
}

div.add-review-row-3 {
  display: flex;
  flex-direction: row;
  margin: 1em;
}

div.add-review-row-3 > button {
  margin-right: 0.5em;
}

div.add-review-row-3 > a {
  margin: 0.5em 0 0 0.5em;
  text-decoration: underline;
  color: #033b4c;
}

div.add-review button {
  background-color: #33a49f;
  color: white;
}

div.add-review button:hover {
  background-color: #2c9690;
  cursor: pointer;
}

div.add-review button:active {
  background-color: #3c837f;
}

/* ----- BREADCRUMBS ----- */

ol.MuiBreadcrumbs-ol p,
ol.MuiBreadcrumbs-ol a {
  font-size: small;
}

/* ----- FILTER BAR ----- */

/* button.filter-bar-btn {
	margin-left: 0.5em;
	border: 0.1em solid;
	border-color: #33a49f;
}

button.filter-bar-btn:hover {
	background-color: #2c9690;
	cursor: pointer;
}

button.filter-bar-btn:active {
	background-color: #3c837f;
	color: white;
} */
